<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <link rel="stylesheet" href="FontIcon/fontawesome-free-5.15.4-web/css/all.css">
    <link rel="stylesheet" href="Style.css" />
  </head>
  <body>
    <header>
      <div>
        <div>
            <img class="icon" src="Img/transparent-earth-globe-icon-animals-and-nature-icon-world-ico-5dda2932bf6c49.8563558715745784827841.jpg" alt="">
          </div>

        <div>
          <button class="btn btn_member">ورود,ثبت نام</button>
          <button class="btn btn_trip">پیگیری سفر</button>
    </header>
    
    <article>
        <h1 class="h1"> بلیط هواپیما</h1>
        <div class="table">
<nav>
    <ul>
        <li><a href="#">پرواز داخلی</a></li>
        <li><a href="#">پرواز خارجی</a></li>
    </ul>
</nav>
<hr class="hr">
<input type="text"class="input">
<input type="text"class="input">
<input type="text"class="input">
<input type="text"class="input">
<input type="text"class="input">
<input type="text"class="input">
        </div>
    </article>
  </body>
</html>
